@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer utilities {
    .slideshow {
        height: 24vw;
        position: relative;
    }
    .content {
        position: absolute;
        display: flex;
        flex-direction: row;
        color: white;
        height: 24vw;
        margin-left: 25vw;
        margin-right: 25vw;
        transition: left 300ms ease-in-out;
        left: 0;
    }

    .details { 
        margin-top: 3vw;
        width: 23vw;
    }

    .image-holder {
        position: relative;
        width: 30vw;
    }

    .image {
        position: absolute;
        width: 33vw;
        left: -2vw;
        top: -2.5vw;
        position: absolute;
        width: 30vw;
    }

    .before {
        left: -100vw;
    }

    .left {
        left: 100vw;
    }
}